{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between mb-3"><h1 class="h3">Contacts</h1><a class="btn btn-dark" href="{% url 'contact_add' %}">Add contact</a></div>
<form class="mb-3"><input name="q" value="{{ term }}" class="form-control" placeholder="Search contact, company or email"></form>
<div class="card"><div class="table-responsive"><table class="table mb-0"><tr><th>Name</th><th>Company</th><th>Email</th><th>Owner</th><th></th></tr>{% for item in contacts %}<tr><td>{{ item }}</td><td>{{ item.company }}</td><td>{{ item.email }}</td><td>{{ item.assigned_to.username }}</td><td><a href="{% url 'contact_edit' item.pk %}">Edit</a></td></tr>{% empty %}<tr><td colspan="5">No contacts found.</td></tr>{% endfor %}</table></div></div>
{% endblock %}

